{% extends 'base.html.twig' %}
{% block title 'Home' %}

{% block body %}
    {% include 'public/partials/_form.html.twig' %}

    <h4>Nombre de conducteurs : </h4>
   {{ i }}
    <h4>Nombre de vehicules : </h4>
    {{ j }}
    <h4>Nombre de locations en base</h4>
    {{ k }}

{% endblock %}



